<template>
  <div id="body">
    <head-bar :title="pageTitle" back cart />

    <div class="container mx-auto mt-8">
      <div id="RestaurantList" class="container mx-auto mt-8">
        <v-row>
          <restaurant-card
            v-for="restaurant in restaurants"
            :key="restaurant._id"
            :restaurant="restaurant"
            class="mb-4"
          />
        </v-row>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      pageTitle: 'A little hungry?',
      restaurants: [],
    }
  },
  methods: {
    async getRestaurants() {
      this.restaurants = await this.$axios.$get(
        'http://consumer.localhost:4000/restaurants'
      )
    },
  },
  mounted() {
    this.getRestaurants()
  },
})
</script>
