<template>
  <v-row>
    <v-col>
      <head-bar :title="pageTitle" back />

      <payment-method-list :wallet="wallet"></payment-method-list>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      pageTitle: 'Wallet',
      wallet: [],
    }
  },
  mounted() {
    this.getWallet()
  },
  methods: {
    async getWallet() {
      this.wallet = (
        await this.$axios.$get(
          'http://consumer.localhost:4000/consumers/' +
            this.$store.state.loggedIn +
            '/wallets'
        )
      )[0].wallets
    },
  },
})
</script>
