<template>
  <v-row>
    <v-col>
      <head-bar :title="pageTitle" back />

      <address-list :addresses="addresses"></address-list>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data() {
    return {
      pageTitle: 'Addresses',
      addresses: [],
    }
  },
  mounted() {
    this.getAddresses()
  },
  methods: {
    async getAddresses() {
      this.addresses = (
        await this.$axios.$get(
          'http://consumer.localhost:4000/consumers/' +
            this.$store.state.loggedIn +
            '/addresses'
        )
      )[0].addresses
    },
  },
})
</script>
