<template>
  <v-row>
    <v-col cols="8">
      <v-btn v-if="back" nuxt large icon @click="$router.back()">
        <v-icon large>mdi-arrow-left</v-icon>
      </v-btn>
      <h1 v-if="title" class="d-inline-block" v-text="title" />
    </v-col>
    <v-col class="text-right">
      <v-btn v-if="cart" nuxt to="/cart" large icon>
        <v-badge :value="cartBadge" :content="cartBadge" overlap bordered>
          <v-icon large>mdi-cart</v-icon>
        </v-badge>
      </v-btn>
    </v-col>
  </v-row>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  props: {
    title: {
      type: String,
      required: false,
      default: null,
    },
    back: {
      type: Boolean,
      required: false,
      default: false,
    },
    cart: {
      type: Boolean,
      required: false,
      default: false,
    },
  },
  computed: {
    cartBadge(): number {
      if (this.cart) {
        return this.$store.state.cart.items.length
      }
      return 0
    },
  },
})
</script>
